@import "./assets/styles/variables";
@import "./assets/styles/reset";
@import "./assets/styles/wrapper";
@import "./assets/styles/text";
@import "./assets/styles/buttons";
@import "./assets/styles/table";

body {
  background-color: $grey;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-content {
  max-height: fit-content !important;
}
